*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin:0;
    padding:0;
}

header{
    display: flex;
    justify-content: center;
    height: 120px;
}

.container{
    display: flex; /*tag utilizada para colocar as div lado a lado, sem a tag fica um embaixo da outra*/
    justify-content: space-between; /*tag utilizada para colocar os conteudos da div de lado, porém nas pontas*/
    width:990px;     
    

}

.logo{
    display: flex;
    align-items: center;
}

.minhalogo{
    width: 150px;
    height: 100px;
}

.menu{
    
    display: flex;
    align-items: center;
}

nav ul, li{
    list-style: none;
    margin:0;
    padding: 0;
}

nav ul{
    display: flex;
}

nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color:#727272;
}

nav .active a, 
nav a:hover{
    background-color: #0a9985;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

#banner{
    display:flex;
    justify-content: center;
    background-image: url('../images/banner.png');
    background-position: center;
    background-size: cover;
    height: 670px;
}

.column{
    flex-direction: column;
}

.banner_headline{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.banner_headline h1{
    color: white;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0px;
    padding: 0px;
    max-width: 300px;
}

.banner_headline h2{
    color: white;
    font-size: 22px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0px;
    padding: 0px;
    max-width: 300px;
    margin-top:30px;
}

.banner_options{    
    height: 210px;
    display: flex;

}

.banner1, 
.banner2,
.banner3{
    flex:1;
    color:#ffffff;
    padding: 20px;
}

.banner1{
    background-color: rgba(102, 155, 38, 0.5);
}

.banner2{
    background-color: #8dc645;
}

.banner3{
    background-color: #0a9985;
}

.banner_title{
    font-size: 21px;

}

.banner_desc{
    font-size: 12px;
    margin-top:20px;
    margin-bottom: 20px;

}
.banner_desc3{
    margin-top:25px;
    border-bottom: 1px solid white;
    padding: 2px;
    font-size: 14px;
}
.banner_options a{
    display: inline-block;
    border:1px solid white;
    padding: 5px;
    color: white;
    font-size: 13px;
    text-decoration: none;
}

/*Aqui começa a segunda section*/

#geral{
    display: flex;
    justify-content: center;
}

#geral section{
    flex:2;
}

#geral aside{
    flex: 1;
    
}

.widget_title{
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_text{
    color: black;
    font-size: 21px;
    font-weight: bold;
}

.widget_title_bar{
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
}

.widget_body{
    display: flex;
    flex-wrap: wrap;
    

}
.square{
    display:flex;   
    flex-wrap: wrap; 
    width: 110px;
    height: 110px;
    margin-right: 30px;
    margin-bottom: 30px;     

}

.square img{
    width: 100%;
    height: auto;
}

.widget_body_appointment_item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;   
}

.widget_body_appointment_img {
    background-color: #ccc;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.widget_body_appointment_text a {
    text-decoration: none;
    color: #36a9e1;
}

.widget_body_appointment_text a:hover {
    color: #072838;
    font-weight: bold;
}


.widget_title{
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_text{
    color:#000000;
    font-size: 21px;
    font-weight: bold;
}

.widget_title_bar{
    width: 50px;
    height: 2px;
    background-color: #0a9985;
    margin-top: 10px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

article .news_data{
    display: flex;
}

article .news_posted_at{
    background-color: #8dc645;
    color:white;
    font-size:12px; 
    padding: 10px;
    margin-top: 25px;
}

article .news_comments{
    background-color: #0a9985;
    color:white;
    font-size:12px; 
    padding: 10px;
    margin-left: 2px;
    margin-top: 25px;
}

article .news_thumbnail{
    margin-top: 30px;
}

article .news_thumbnail img{
    width: 100%;
    height: auto;
    
}

article .news_title{
    margin-top: 25px;
    margin-bottom: 25px;
    color: black;
    font-size: 23px;

}

article .news_resume{
    color:#5c5c5c;
    line-height: 20px;
    font-size: 14px;

}

footer{
    margin-top: 40px;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}
.flex_column{
    flex-direction: column;
}
.footer_menu{
    display: flex;
}
.fm_1,
.fm_2,
.fm_3{
    flex: 1;
    color: #ffffff;
    padding: 20px;
}
.fm_1{
    background-color: #39aae1;
}
.fm_2{
    background-color: #0079c7;
}
.fm_3{
    background-color: #2b4c99;
}

.banner_footer{
    height: 100px;
    display: flex;
    flex-direction: row;
}
.footer_area{
    display:flex ;
    flex: 1;
    color: #ffffff;
    padding: 20px
}

.areaitem{
    flex: 1;
    color: #ffffff;
    margin-right: 30px;
}

footer  .widget_title h1{
    color: #ffffff;
}

.widget_footer_body_content{
    display: flex;
    flex-direction: column;
    color: #717171;
    font-size: 15px;
    height: 300px;
}

.hosp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description{
    align-items:flex-start;
    margin-bottom: 20px;
}

.data_medicenter{
    display: flex;
    flex-direction: row; 
    margin-bottom: 20px;
}

.addres{
    flex: 2;
}

.addres p {
    margin: 0px;
    padding: 1px;
}

.email_phone{
    flex: 1;
    align-self:flex-end ;
}

.email_phone p{
    margin: 0px;
    padding: 1px;  
}

.white{
    color: seashell;
}

.social_media{
    display: flex;
    flex-direction: row;
    flex: 2;
}

.social_media img{
    align-self: flex-start;
    width: 30px;
    margin-right: 5px;
  
}

.latest_post{
    
    display: flex;
    flex-direction: column;
    height: 250px;
}

.post{
    flex: 1;
}

.post p{
    margin: 0px;
    color: #FFFFFF;
}

.post span{
    color: #0079c7;
    font-size: 13px;
}

.footer_news{
    display: flex;
    flex-direction: column;
    height: 250px;
}

.ft_news p {
    margin: 1px;
    color: #717171;
    font-size: 15px;
}

.ft_news p span {
    margin: 1px;
    color: #ffffff;
}

.ft_news span {
    margin: 1px;
    color: #0079c7;
}

.footer_copy{
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}

.menuMobile{
    display: none;
    width:40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;

}

.mm_line{
    height: 2px;
    background-color:#0a9985 ;
}

@media (max-width:600px){
    #banner img{
        width: 100%;
        height: auto;
    }
    
    .banner_headline{
        padding: 20px;
    }

    .banner_headline h1{
        font-size:55px;

    }

    .banner_headline h2{
        font-size: 17px;
    }

    .banner_options{
        height: auto;
        flex-direction: column;
    }
    .container{
        flex-direction: column;
    }
   

    #geral section{
        padding: 20px;
        
    }

    #geral aside{
        padding: 20px;
        
    }

    .banner_footer{
        flex-direction: column;
    }
    .footer_area{
        flex-direction: column;
        padding: 20px;
    }

    .footer_copy{
        padding-left: 20px;
    }

    header .container{
        flex-direction: row;
    }

    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left:0;
        width: 100%;
        background-color: white;
    }

    header{
        height: auto;
    }

    .logo{
        padding-left: 20px;
    }

    .menuMobile{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
    }
}












